Repository hmcts/finrem-evidence-management-client-api, pull requests merged in 2021-02, with the labels that each got.

#63 Upgrade Helm chart API version to v2
  charts/finrem-emca/Chart.yaml
  charts/finrem-emca/requirements.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-emca-pr-63

#64 Update base chart to latest version
  build.gradle
  charts/finrem-emca/Chart.yaml
  src/main/resources/application.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-emca-pr-64

#62 TA-395 Pact Consumer Tests for dm-store interactions
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/finrem/evidencemanagement/clientapi/contracts/dmstore/EvidenceManagementDeleteServiceConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/finrem/evidencemanagement/clientapi/contracts/dmstore/EvidenceManagementDownloadServiceConsumerTest.java
  src/contractTest/resources/application-contract.properties
  src/main/java/uk/gov/hmcts/reform/emclient/EvidenceManagementClientApplication.java
  src/main/java/uk/gov/hmcts/reform/emclient/service/EvidenceManagementUploadServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/emclient/BaseTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-emca-pr-62

#65 TA-395: Fix Pact Phase in jenkins
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-emca-pr-65

#66 ignore zap false positives
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-emca-pr-66
