Repository hmcts/finrem-evidence-management-client-api, pull requests merged in 2022-03, with the labels that each got.

#87 Update Chart.yaml
  charts/finrem-emca/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-emca-pr-87

#89 fix jackson vulnerability and bump java chart version
  build.gradle
  charts/finrem-emca/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-emca-pr-89

#90 CVE-2020-36518: fix jackson vulnerability
  dependency-check-suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-emca-pr-90
